body {
  background: #fafafa;
}

.wrapper {
  display: inline-block;
}

.btn {
  padding: 6px 8px;
  margin: 10px;
  background: #fff;
  border: 2.5px solid rgb(75, 75, 75);
  border-radius: 16px;
  font-size: 12px;
  font-weight: ;
  color: rgb(75, 75, 75);
  outline: none;
  tex
}

#counter {
  text-align: center;
}